<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Ajouter un depots</h1>
    <a routerLink="/depots" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-arrow-left fa-sm text-white-50"></i> Retour</a>
</div>



<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Basic Card Example</h6>
    </div>
    <div class="card-body">
        <form [formGroup]="add"  (ngSubmit)="addData()">
            <div class="mb-3">
                <label for="">Nom</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="mb-3">
                <label for="">Adresse</label>
                <input type="text" class="form-control" formControlName="address">
            </div>

            <div class="mb-3">
                <button class="btn btn-success" type="submit">Ajouter</button>
            </div>



        </form>
    </div>
</div>