<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Produits</h1>
        <a routerLink="/produits/add" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-plus fa-sm text-white-50"></i> Ajouter</a>
    </div>

 
 
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Produits</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Price</th> 
                            <th>Quantity</th>
                            <th> Actions </th>
                        </tr>
                    </thead> 
                    <tbody>
                        <tr *ngFor="let p of produits;let j = index;">
                            <td>{{j+1}}</td>

                            <td>
                                {{p.name}}
                            </td>

                            <td>
                                {{p.price | currency}}
                            </td>

                            <td>
                                {{ p.quantity }}
                            </td>

                            <td>
                                <a [routerLink]="'/produits/update/'+p.id" class="btn btn-info btn-sm" style="margin-right: 15px;">modifier</a>
                                <button class="btn btn-sm btn-danger" (click)="deleteProduit(p.id)" >supprimer</button>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>