

<div class="container-fluid mt-5">
    <h1>About us</h1>

    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem aliquam beatae in dolorum reprehenderit veritatis, quo voluptatum pariatur totam enim quae sequi officia facilis nihil molestiae, aperiam assumenda fuga ab.
    </p>


    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link " routerLinkActive="active" aria-current="page" routerLink="/about/our-clients">Our clients</a>
        <a class="flex-sm-fill text-sm-center nav-link" routerLinkActive="active" routerLink="/about/our-services">Our services</a> 
    </nav>



    <router-outlet></router-outlet>


</div>