.table{
    width: 80%;
    margin: auto;
}

.error{
    color: red;
}

.error-border{
    border-color: red;
}

.success-border{
    border-color: greenyellow;
}

.square{
    height: 100vh;
    width: 100%;
    background-color: rgb(82, 82, 82);
    position: relative;
}

.ball{
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    border-radius: 50%;

    height: 80px;
    width: 80px;
}