<!--<h1>hello world</h1>

<h3> {{email}} </h3>

<p> {{ 1+1 }} </p>



<p> {{ fruits }} </p>

<ul>
    <li *ngFor=" let f of fruits " > {{f}} </li>
</ul>


<ul>
    <li *ngFor="let e of employees">
        <p>
            <strong> {{e.fullname}} </strong><br>
            <small> {{e.email}} / {{e.phone}} </small>
        </p>
    </li>
</ul>-->

<!-- by pass securty  -->
<!--<img src="{{imgURL}}" alt="">-->

<!-- modification attribute -->
<!--<img [src]="imgURL"  [width]="width"/>

<p id="para" [innerHTML]="parf" ></p>


<p [style.color]="  test  " >{{parf}}</p>


<button [disabled]="canClick" >can click</button>-->

<!--
<img [src]="getImgURL()"  [width]="width"/>

<br>


<button (click)="previous()" >previous</button>

<button   (click)="next()" >next</button> -->

<!--
<div>
    <strong> {{hours}} </strong> : <strong>{{minuts}}</strong> : <strong> {{seconds}} </strong>
</div>-->

<!--
<table class="table">
    <tbody>
        <tr *ngFor="let d of data">
            <td> {{ d.id }}</td>
            <td> {{ d.montant | currency:'TND' }} </td>
            <td> {{ d.date | date }}</td>
            <td> {{ d.description | uppercase  }} </td>
            <td>  {{ d.phone | phone }} </td>
        </tr>
    </tbody>
</table>-->


<!--<form [formGroup]="testForm" (ngSubmit)=" valider() ">
    <label for=""> username 
        <span class="error" *ngIf=" testForm.value.username == ''  ">*</span>
    </label> 
    <br>
    <input [ngClass]="  testForm.controls.username.valid == false ? 'error-border' : 'success-border' "
        formControlName="username" type="text" placeholder="username please"> <br> <br>



    <label for=""> email </label> <br>
    <input formControlName="email" type="email" placeholder="email please"> <br><br>


    <label for="">Department</label> <br>

    <select formControlName="department" >
        <option value="">Please choose a value</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        
        
    </select>

    <br>


    <div formGroupName="address" >
        <label for=""> Ville </label> 
        <br>
        <input formControlName="ville" type="text" placeholder="ville"  > <br> <br>
    
        <label for=""> Code  </label> 
        <br>
        <input formControlName="code" type="text" placeholder="code"  > <br> <br>
    </div>



    <button type="submit" [disabled]=" ! testForm.valid ">VALIDER</button>
</form>-->


<!--

  testForm = new FormGroup({
    username: new FormControl('',[ Validators.required, Validators.maxLength(5) ]),
    email: new FormControl('',[ Validators.email, Validators.required ]),
    department: new FormControl('',Validators.required),
    address: new FormGroup(
      {
        ville: new FormControl(''),
        code: new FormControl(''),
        
      }
    )

  });

  userdata = [];-->
<!--<ul>
    <li *ngFor="let u of userdata " >
        <h3>{{u.username}}</h3>
        <p>
            {{u.email}} / {{u.department}} 
        </p>
    </li>
</ul>-->



<!--<div class="square" (mouseenter)="mouseEnterEvent()" (mouseleave)="mouseLeaveEvent()" >

</div>-->

<!--
<div id="test" class="square" (mousemove)="mouseOverEvent($event)"  >
    <div [style.left]="x" [style.top]="y"  class="ball"></div>
</div>-->

<!--
<input type="text" (keyup)="search($event)">

<p>
    message : {{inputValue}}
</p>-->

<!--

<form [formGroup]="stepOneForm" (ngSubmit)="validate()" *ngIf=" step == 0 ">
    <input type="text" formControlName="username">

    <button type="submit" [disabled]="! stepOneForm.valid" >NEXT</button>
</form>


<form [formGroup]="stepTwoForm" *ngIf=" step == 1 " (ngSubmit)="validate()" >
    <input type="text" formControlName="email">

    <button type="button" (click)="goBack()" >PRRVIOUS</button>
    <button type="submit" >NEXT</button>
</form>


<form [formGroup]="lastForm" *ngIf=" step == 2 "  (ngSubmit)="validate()">
    <input type="text" formControlName="password">

    <button type="button" (click)="goBack()" >PRRVIOUS</button>
    <button type="submit" >VALIDATE</button>
</form>-->






<!--componenets-->


<app-navbar></app-navbar>
 

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-3">
            <app-sidemenu></app-sidemenu>
        </div>
        <div class="col-sm-9">
            <app-products></app-products>
        </div>
    </div>
</div>